.debtsHeader {
    color: #3f51b5;
    margin-right: 600px;
}

.returnLoanStyle {
    font-weight: bold;
}

.iconStyle {
    color: #3f51b5;
}

.margintopFilter {
    margin-top: 25px;
    padding-top: 25px;
}