<div class="margintopFilter" fxLayoutAlign="center center">
    <h3  class="friendsHeader">Friends</h3> 
    <mat-icon class="iconStyle">filter_list</mat-icon>
    <mat-form-field fxFlex="40%" fxFlex.xs="100%">
       <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter"/>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" 
        class="buttontyle" fxFlex="200px" fxFlex.xs="100%" (click)="openDialogToAdd()">Add Friend</button>
</div>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="userFriendName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Friend Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userFriendName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="userFriendPhoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userFriendPhoneNumber}}</mat-cell>
    </ng-container>


    <!-- <ng-container matColumnDef="userFriendLastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userFriendLastName}}</mat-cell>
    </ng-container> -->

    <!-- <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Click to request loan" class="iconbutton" color="primary" *ngIf="element.id">
                <mat-icon aria-label="Request loan" (click)="openDialogToAddLoan(element)">swap_vert</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Click to delete friend" class="iconbutton" color="primary" *ngIf="element.id">
                <mat-icon aria-label="Delete friend" (click)="deleteFriend(element)">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" fxLayoutAlign="center center"></mat-paginator>

