
.friendsHeader {
    color: #3f51b5;
    margin-right: 600px;
}

.margintopFilter {
    margin-top: 25px;
    padding-top: 25px;
}

.iconStyle {
    color: #3f51b5;
}

.buttontyle{
    margin-left: 10px;
}
