<section >
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="walletForm"
        class="wallet-form">
        <mat-card class="walletInformation">
              <h1  class="walletFormHeader">WALLET</h1> 
              <mat-form-field *ngIf="this.currentUserWalletsSelectList.selectItems">
                <mat-select formControlName="walletId">
                  <mat-option 
                  *ngFor="let wallet of currentUserWalletsSelectList.selectItems" 
                  [value]="wallet.value">
                    {{wallet.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- <mat-card-actions> -->
                <button class="buttonSubmit" mat-raised-button color="primary"
                  (click)="openDialogToEdit()">
                  <mat-icon>add</mat-icon>
                  Add money
                </button>

                <button mat-raised-button color="primary"
                (click)="openDialogToSendMoney()">
                  <mat-icon>send</mat-icon>
                  Send money
               </button>
              <!-- </mat-card-actions> -->
              
              <app-transactionshistory></app-transactionshistory>
              <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
        </mat-card>
 </form>
</section>