.wallet-form {
    padding: 20px;
    margin-top: 20px;
}

.mat-card {
    width: 30%;
    
}

.mat-card .walletInformation {
    height: 250px;
}

.mat-icon {
    margin-left: -7px;
}

.walletFormHeader {
    color: #3f51b5;
}

.mat-form-field {
    padding: 15px;
}

.mat-card-actions{
    
    margin-left: 5px;
    float: right;
}