<mat-nav-list>
  <mat-list-item class="currentUserName">
    {{currentUserName}}
</mat-list-item>
  <a mat-list-item routerLink="/register" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/profile/{{currentUserId}}" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Profile</span>
  </a>
  <a mat-list-item routerLink="/borrowings" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>domain</mat-icon>
    <span class="nav-caption">Borrow</span>
  </a>
  <a mat-list-item routerLink="/loans" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>poll</mat-icon>
    <span class="nav-caption">Lend</span>
  </a>
  <a mat-list-item routerLink="/debts" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>query_builder</mat-icon>
    <span class="nav-caption">Debts</span>
  </a>
  <a mat-list-item routerLink="/friends" (click)="onClose()" *ngIf="isUltimate || isExplorer">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Friends</span>
  </a>
  <!-- <a  mat-list-item routerLink="/user/profile/{{currentUserId}}" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">
      User Profile
    </span>
  </a>-->
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>