.borrowRequestsHeader {
    color: #3f51b5;
    margin-right: 600px;
}

.borrowRequestsCard {
    width: 1400px;
    margin-top: 50px;
}

.iconStyle {
    color: #3f51b5;
}

.margintopFilter {
    margin-top: 25px;
    padding-top: 25px;
}