.main-div mat-card {
    padding: 0px;
}
.login-form {
    padding: 20px;
    margin-top: 200px;
}

.loginFormTitle {
    text-align: center;
    color: #3f51b5;
    font-size: xx-large;
}

.mat-card {
    height: 300px;
    width: 300px;
    text-align: center;
}

.mat-form-field {
    padding: 10px;
    margin-bottom: 10px;
}