<div class="margintopFilter" fxLayoutAlign="center center">
    <mat-icon class="iconStyle">search</mat-icon>
    <mat-form-field fxFlex="40%" fxFlex.xs="100%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search lenders"/>
    </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id | number}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.firstName + " " + element.lastName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.country}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="currentStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Current Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.currentStatus}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell class="requestLoanStyle" *matHeaderCellDef>Request loan </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-icon-button matTooltip="Click to request loan" class="iconbutton" color="primary" *ngIf="element.id"
          [disabled]="isExplorer">
              <mat-icon aria-label="Request loan" (click)="openDialogToAdd(element)">swap_vert</mat-icon>
          </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</mat-table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" fxLayoutAlign="center center"></mat-paginator>


<!-- <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrow Requests
        </mat-panel-title>
        <mat-panel-description>
          Active Requests
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <section fxLayout fxLayoutAlign="center">
        <app-borrowrequests></app-borrowrequests>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </section>
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Borrow Requests History
        </mat-panel-title>
        <mat-panel-description>
          Unmanaged Requests
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section fxLayout fxLayoutAlign="center">
        <app-borrowrequestshistory></app-borrowrequestshistory>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </section>
    </mat-expansion-panel>
  </mat-accordion> -->

<section  fxLayout fxLayoutAlign="center">
    <app-borrowrequests></app-borrowrequests>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</section>

<section  fxLayout fxLayoutAlign="center">
    <app-borrowrequestshistory></app-borrowrequestshistory>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</section>